@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.header{

    background-position: center;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.header.h1{
    justify-items: center;
    align-items: center;
    color: rgba(0, 162, 255, 0.58);
}
.search_field{
    color: black;
    height: 50px;
    padding: 26px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form-box{ 
    color: black;
    background: rgba(58, 183, 255, 0.5);
    padding:28px 100px;
    border-radius: 15px;
}